h1 {
  color:  black;
}
h2{
  color:#ede1e3;
}
h4 {
  color:  grey;
}
h5 {
  color: grey;
}
h3 {
  color:black;
}
p {
  color: #D3D3D3;
}

div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
} 

div.d {
  text-align: justify;
} 